$ttlakes: 'TTLakes', 'Nunito', 'Roboto', sans-serif;

$white: #FFF;
$light_grey: #B5B6BC;
$dark_grey: #7E7E82;
$black: #1B1C21;

$green_light: #6dfbaf;
$green: #00B453;
$text_grey: #5F5F5F;


$background-color_transparent: transparent;
$background-color_white: #fff;
$background-color_light-grey: #ffffff;
$background-color_light-grey-overlay: rgba(248, 248, 248, 0.9);
$background-color_light-grey-divider: #EAEAEA;
$background-color_light-pink: #FFE0E9;
$background-color_dark-pink: #FF3E79;
$background-color_light-green: #D9FFF5;

$header-default-height: 100px;