@import './settings/fonts';
@import './settings/variables';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color_light-grey;
  font-family: $ttlakes;
  font-style: normal;
  font-weight: 400;
}